@color: #555;
@base-color:#111;
@the-border:1px;
#header {
  color: @color;
  a{
    color:(@base-color * 4);
    border-wdith:(@the-border * 5);
    .test{
      color:blue;
    };
    &:hover{
      text-decoration:underline;
    }
  }
}
h2 {
  color: @color;
}