@color: #666;
@base-color:#444;
@the-border:4px;
#header {
    color: @color;
    background:@base-color;
    a{
        color:(@base-color * 8);
        .test{
            color:greenyellow;
        };
        &:hover{
            text-decoration:underline;
        }
    }

}
h2 {
    color: @color;
}