extend layout
block content
	script(type="text/javascript" src="dest/js/app/fishing/fishing.min.js")
	body.container(ng-app="myFishing" ng-controller="float")
		h1.text-center 浮漂的长短区别
		select.form-control(ng-model="type" ng-change="getFloatInfo()")
			option(value="") 所有
			option(value="1") 长脚长身长尾
			option(value="2") 长脚长身短尾
			option(value="3") 长脚短身长尾
			option(value="4") 长脚短身短尾
			option(value="5") 短脚长身长尾
			option(value="6") 短脚长身短尾
			option(value="7") 短脚短身长尾
			option(value="8") 短脚短身短尾
		ul
			li(ng-repeat="item in data" style="line-height:24px;border-bottom:1px dashed #ccc;padding:10px 0;")
				b(style="color:#f60") {{item.text}} ：
				|{{item.description}}