extend layout
block content
	-var s = title;
	-if (s){
		span#test.
			#{s}
	-}
	-if(username){
		div(style="color:#333;") #{username}
	-}                                                                                                                                      