html
    head
        title #{title}
        link(rel="shortcut icon" href="http://www.ctrip.com/favicon.ico")
        link(rel="stylesheet" href="dest/bootstrap-3.3.6-dist/css/bootstrap.css")
        link(rel="stylesheet" href="dest/stylesheets/all.min.css")
        script(type="text/javascript" src="dest/js/lib/angular.min.js")
    block content