html(lang='en')
	head
		title #{title}
		link(rel="stylesheet" href="/bootstrap-3.3.6-dist/css/bootstrap.css")
		link(rel="stylesheet" href="/stylesheets/base.css")
		link(rel="stylesheet" href="/stylesheets/laonianbang.css")
		script(type="text/javascript" src="/js/lib/angular.js")
	block content