extend layout
block content
	body.container#example
		//script(type="text/javascript" src="dest/js/app/react/react.js")
		script(type="text/javascript" src="src/js/lib/react.js")
		script(type="text/javascript" src="src/js/lib/react-dom.js")
		script(type="text/javascript" src="src/js/lib/require.js" data-main="dest/js/app/react/react.js")


