extend layout
block content
	body.container
		//script(type="text/javascript" src="dest/js/app/react/react.js")
		div#example
		script(type="text/javascript" src="src/js/lib/require.js" data-main="dest/js/app/react/react.js")


