extend layout
block content
	body(ng-app="register" ng-controller="Register")
		script(type="text/javascript" src="src/js/app/register/register.js")
		h2(align="center") 用户注册
		- if(message && message.length)
			p.bg-warning(align="center" style="height:30px;line-height:30px;") #{message}
		form.form-horizontal(role=form action="/register" method="post")
			input(type="hidden" name="_csrf" value="")
			div.form-group
				label.col-sm-2.control-label(for="fieldName") 用户名：
				.col-sm-4(ng-class="!userName && 'has-error'")
					input#fieldName.form-control(type="text" name="name" ng-model="userName" ng-keyup="watch(111)")
				.bg-danger.col-sm-2(ng-if="!userName" style="padding:7px;") 用户名不能为空
			div.form-group
				label.col-sm-2.control-label(for="fieldName") 密码：
				.col-sm-4(ng-class="!userName && 'has-error'")
					input#fieldName.form-control(type="password" name="password" ng-model="password" ng-keyup="watch")
				.bg-danger.col-sm-2(ng-if="!password" style="padding:7px;") 密码不能为空
			div.form-group
				label.col-sm-2.control-label(for="fieldName") 昵称：
				.col-sm-4(ng-class="!userName && 'has-error'")
					input#fieldName.form-control(type="text" name="nickName" ng-model="nickName" ng-keyup="watch")
				.bg-danger.col-sm-2(ng-if="!nickName" style="padding:7px;") 昵称不能为空
			div.form-group(style="display:none;")
				label.col-sm-2.control-label
				.col-sm-4
					input.btn.btn-primary(type="submit" value="提交" ng-disabled="state")
			div.form-group
				label.col-sm-2.control-label
				.col-sm-4
					a.btn.btn-primary(href="javascript:;" ng-disabled="state" ng-click="btnRegister()") 提交