extend layout
block content
	body.container(ng-app="app" ng-controller="myControl")
		link(type="text/css" rel="stylesheet" href="dest/stylesheets/testAngular.css")
		script(type="text/javascirpt" src="dest/js/lib/angular.min.js")
		script(type="text/javascript").
			var app = angular.module('app',[]);
			app.controller('myControl',function($scope,$http){
				$scope.todos = [{
					id : 5,
					action: "内容1",
					complete: false
				}, {
					id : 2,
					action: "内容2",
					complete: true
				}, {
					id : 3,
					action: "内容3",
					complete: false
				}, {
					id : 4,
					action: "内容0",
					complete: false,
					className : 'aaa'
				}];
				$scope.data = {
					mode : 1
				};

				$scope.ar = [{
					a : 2,
					b : 3,
					c : 2
				},{
					a: 3,
					b: 4,
					c : 2
				}, {
					a: 2,
					b: 3,
					c : 2
				}];
				$http({
					url : '/getAngularInfo',
					method : 'post'
				}).success(function(result){
					debugger;
				})
			});
		select.form-control(ng-model="aaa" ng-options="item.action group by item.id for item in todos")
			option(value="") 请选择
		div {{aaa}}




