extend layout
block content
	body(ng-app="app" ng-controller="myControl")
		script(type="text/javascirpt" src="dest/js/lib/angular.min.js")
		script(type="text/javascript").
			var app = angular.module('app',[]);
			app.controller('myControl',function($scope,$http){
				$scope.todos = [{
					action: "内容1",
					complete: false
				}, {
					action: "内容2",
					complete: true
				}, {
					action: "内容3",
					complete: false
				}, {
					action: "内容0",
					complete: false,
					className : 'aaa'
				}];
				$scope.data = {
					mode : 1
				};

				$scope.ar = [{
					a : 2,
					b : 3,
					c : 2
				},{
					a: 3,
					b: 4,
					c : 2
				}, {
					a: 2,
					b: 3,
					c : 2
				}];
			});
		ol
			li(ng-repeat="item in todos" ng-class-even="'aaa'" ng-class-odd="'bbb'") {{item}}




