extend layout
block content
	body
		script(type="text/javascript" src="global/socket.io.js")
		script(type="text/javascript").
			var socket = io();
			function sendMessage(){
				socket.emit('chat message', document.getElementById('message').value);
			}
			socket.on('chat message', function (msg) {
				var ele = document.createElement('p');
				ele.innerHTML = msg;
				document.getElementById('content').appendChild(ele);
			});
		div.classname#id(attr="")
			h1(style="text-align:center;") Welcome To WebSocket
			input(type="text" id="message")
			input(type="button" value="提交" onclick="sendMessage()")
		div#content
