<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>angular</title>
    <script type="text/javascript" src="../js/lib/angular.js"></script>
    <script type="text/javascript">
        var model = [1,2,3,4];
        var todoApp = angular.module("app",[]);
        todoApp.controller("HomeCtrl",function($scope){
            $scope.value = model;
            $scope.testValue = 111;
        })
    </script>
</head>
<body ng-controller="HomeCtrl">
    <ul>
        <li ng-repeat="item in value">
            {{item}}
        </li>
    </ul>
    <input type="text" ng-model="testValue"/>
    <div>{{testValue}}</div>
</body>
</html>