@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
body,input,select,button,textarea{font-size:14px;font-family:"微软雅黑";color:#333;}
ul,ol{list-style:none;}
img,a img{border:0 none;}
a{text-decoration:none;color:#666;}
a:hover{text-decoration:underline;color:#fe6700;}
.clearfix:after{clear:both;content:"";display:block;visibility:hidden;height:0;}
.clearov{overflow:hidden;zoom:1;}
em,i{font-style:normal;}
.clearit{ clear:both;}
button{cursor:pointer;}


a{ text-decoration: none;}
a.close{display:none;}
a img{border:0 none;}
img{vertical-align:middle;/*background:url("../images/loading.gif") no-repeat center center;*/}
i,em{font-style:normal;}
i.keyword{font-style:normal;color:#aa2105;}
.hidden{overflow-x:hidden;}
.border_none{border: 0 none;}
.clear{clear:both;font-size:0;overflow:hidden;height:0;line-height:0;}
.clearfix:after{clear:both;content:"";display:block;visibility:hidden;height:0;}
ul,ol{list-style:none;}
.dis_none{display:none;}
.dis_block{display:block;}
.color_999{color:#999;}
.left{float:left;}
.right{float:right;}
.disable{cursor:default;opacity:0.3;}
.clear_v1:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
.checkbox,.radio{vertical-align:middle;margin-top:-2px;}
.z_9999{z-index:9999;}


@charset "UTF-8";
/*针对轮播区域个数的样式处理开始*/
.banner_num li{background:#999;}
.banner_num li.select{background:#f80;color:#fff;}
/*针对轮播区域个数的样式处理结束*/
@charset "UTF-8";
/*头部开始*/
.header{background:#fff;box-shadow:0 5px 5px rgba(100,100,100,0.2);}
.top_link_box{height:30px;line-height:30px;background:#4c7199;}
.top_link{width:1005px;margin:0 auto;text-align:right;color:#cadaec;font-size:12px;}
.top_link a{color:#cadaec;}
.logo_area{width:1005px;margin:0 auto;overflow:hidden;zoom:1;}
.logo_area .logo_a{float:left;display:block;}
.home_search{float:right;width:332px;margin-top:28px;border:1px solid #ddd;padding:2px;overflow:hidden;zoom:1;border-radius:4px;}
.home_search input.keywords{width:279px;height:28px;line-height:28px;padding:2px 5px;display:block;float:left;border:0 none;color:#999;}
.home_search input.hs_btn_submit{cursor:pointer;display:block;width:43px;height:32px;line-height:32px;float:right;background:url("../../images/icon_png24.png") no-repeat 10px 5px #eae9e9;border-radius:4px;border:0 none;}
/*头部结束*/

/*正文内容开始*/
.content_box{background:#f2f3f7;padding:15px 0;}
.content{width:1005px;margin:0 auto;_overflow:hidden;}
.banner_list{height:268px;}
.banner_list li{float:left;margin:0 7px 8px 0;width:240px;background:#000;transition:all 0.5s ease-in;}
.banner_list li:hover{box-shadow:0 0 8px rgba(0,0,0,0.5)}
.banner_list li.w290{width:290px;}
.banner_list li.w212{width:212px;}
.banner_list li.w246{width:246px;}
.banner_list li.w266{width:266px;}
.banner_list li.w230{width:230px;}
.banner_list li.mrb0{margin-bottom:0;}
.banner_list li.last{margin-right:0;}
.banner_list li .box{background:#20e3ac;height:120px;padding-top:10px;display:block;}
.banner_list li .box.opacity_5{filter:alpha(opacity=50); -moz-opacity:.5;opacity:0.5;}
.banner_list li .box.light_green{background:#07d1e4;}
.banner_list li .box.blue{background:#2f90f7;}
.banner_list li .box.dark_blue{background:#7580f5;}
.banner_list li .box.green{background:#b0df07;}
.banner_list li .box.orange{background:#fed623;}
.banner_list li .box.brown{background:#fe894a;}
.banner_list li .box.pink{background:#fcdfac;}
.banner_list li .box h3{height:60px;line-height:60px;margin:0;padding:0 0 0 25px;font-weight:normal;color:#fff;font-size:22px;cursor:pointer;}
.banner_list li .box h3.attention{color:#d6854f;}
.banner_list li .box h3 strong{font-weight:normal;float:left;display:block;height:60px;text-shadow:1px 1px 2px rgba(0,0,0,0.5);}
.banner_list li .box h3 em{float:left;display:block;width:60px;height:60px;line-height:60px;background:url("../../images/nav_icon.png") no-repeat;margin-left:5px;cursor:pointer;}
.banner_list li .box h3 em.mouse{background-position:-23px 2px;;margin-left:0;}
.banner_list li .box h3 em.earplug{background-position:-10px -72px;}
.banner_list li .box h3 em.person{background-position:-10px -150px;}
.banner_list li .box h3 em.topic{background-position:-10px -217px;}
.banner_list li .box h3 em.love{background-position:-10px -282px;margin-left:0;}
.banner_list li .box h3 em.flower{background-position:-10px -361px;}
.banner_list li .box h3 em.pen{background-position:-10px -439px;}
.banner_list li .box h3 em.attention{background-position:-10px -509px;}
.banner_list li .box p.description{padding:0 25px;margin-top:3px;line-height:20px;color:#fff;cursor:pointer;}
.banner_list li .box p.description.attention{color:#d6854f;}
.banner_list li .box:hover{text-decoration:none;}
.home_module{margin-top:15px;background:#fff;}
.hm_header{position:relative;height:52px;border-top:5px solid #4c7199;}
.hm_header h2{margin:0;position:absolute;width:227px;padding:0 0 0 55px;height:52px;line-height:42px;top:-5px;left:-26px;background:url("../../images/bg_png_8.png") no-repeat;font:20px/42px '微软雅黑';font-weight:normal;color:#fff;}
.hm_header a.more{display:block;height:36px;line-height:36px;float:right;margin-right:28px;font-size:14px;}
.hm_content{padding:0 0 10px 28px;}
.hm_content .item{overflow:hidden;zoom:1;padding:2px;}
.hm_content .item li{float:left;width:225px;background:#fff;box-shadow:0px 1px 2px rgba(100,100,100,0.2);margin:0 15px 20px 0;*border:1px solid #eee;transition:all 0.2s ease-in}
.hm_content .item li:hover{box-shadow:0px 0px 5px rgba(43,89,139,0.8);*border-color:#06c4d7}
.hm_content .item li a.hi_a{display:block;text-align:center;font-size:16px;}
.hm_content .item li a.hi_a img{margin-bottom:5px;}
.hm_content .item li .info{height:32px;line-height:32px;border-top:1px solid #eee;margin-top:5px;padding:0 10px;color:#ccc;}
.hm_content .item li .info span{float:left;}
.hm_content .item li .info span.right{float:right;}
.hm_content .item li.find_friend{padding:20px;width:225px;box-shadow:0 0 3px rgba(100,100,100,0.2);}
.find_friend .info_box{line-height:24px;font-size:16px;color:#666;overflow:hidden;}
.find_friend .info_box strong{font-weight:normal;color:#2e8cee;}
.find_friend .state{float:left;padding:5px 10px;color:#fff;background:#8bc4fe;border-radius:4px;font-size:16px;margin:5px 0;}
.btn_friend_register{color:#f4a721;font-size:14px;}
/*首页轮播动画开始*/
.banner_box{width:325px;overflow:hidden;height:230px;position:relative;float:left;}
.banner_sub{width:325px;overflow:hidden;position:absolute;height:230px;}
.banner_scroll{position:absolute;height:230px;width:10000000px;}
.banner_scroll a{display:block;float:left;}
.banner_s1,.banner_clone{float:left;}
.banner_num{position:absolute;bottom:10px;right:10px;overflow:hidden;zoom:1;}
.banner_num li{float:left;width:24px;height:24px;line-height:24px;text-align:center;background:url(../../images/card_view_btn.png) no-repeat -36px -176px;color:#fff;margin-left:5px;cursor:pointer;}
.banner_num li.select{background-position:0 -176px;cursor:pointer;}
.banner_box_t{width:325px;overflow:hidden;height:230px;position:relative;}
.banner_sub_t{width:325px;overflow:hidden;position:absolute;height:230px;}
.banner_scroll_t{position:absolute;width:325px;}
.banner_num_t{position:absolute;bottom:10px;right:10px;overflow:hidden;zoom:1;}
.banner_num_t li{float:left;width:20px;height:20px;line-height:20px;text-align:center;filter:alpha(opacity=70); -moz-opacity:.7;opacity:0.7;background:#000;color:#fff;margin-left:5px;cursor:pointer;}
.banner_num_t li.select{background:#c00;cursor:auto;}
.sp1,.sp2{float:left;display:block;}
/*首页轮播动画结束*/
.topic_list{margin-left:340px;padding-right:28px;}
.topic_list dl{border-bottom:1px dashed #ddd;line-height:32px;padding:5px 0;}
.topic_list dl dt{overflow:hidden;zoom:1;}
.topic_list dl dt a{color:#333;}
.topic_list dl dt h3{font-weight:normal;font-size:18px;float:left;}
.topic_list dl dt span.date{float:right;color:#999;}
.topic_list dl dd{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.topic_list dl dd a{color:#999;}
/*正文内容结束*/

/*底部开始*/
.footer_box{background:#dadde8;}
.footer{width:1005px;margin:0 auto;}
.friend_link{margin:0;padding:30px 0;text-align:center;border-bottom:1px solid #cbcfde;}
.friend_link a{padding:0 5px;vertical-align:middle;}
.friend_link label{margin-right:20px;color:#666;vertical-align:middle;}
.copyright_box{border-top:1px solid #e5e7ef;padding:30px 0;}
.copyright_box p{height:30px;line-height:30px;text-align:center;color:#666;}
/*底部结束*/

/*找朋友页开始*/
.find_friend_module{background:#fff;border-top:5px solid #2e8cee;margin-top:15px;}
.ffm_header{overflow:hidden;zoom:1;padding:10px 28px;}
.ffm_header h2{float:left;height:32px;line-height:32px;font-weight:normal;color:#2e8cee;}
.btn_right_area{float:right;}
.btn_right_area button{width:111px;height:32px;line-height:32px;vertical-align:middle;border:0;cursor:pointer;padding:0 10px;background:url("../../images/find_friend_bg.png") no-repeat;color:#fff;font-size:16px;}
.btn_right_area a{vertical-align:middle;margin-left:20px;}
/*找朋友页结束*/

/*其它需求页开始*/
.write_requiement{margin-top:15px;border-top:5px solid #f78547;background:#fff;}
.write_requiement h2{height:32px;line-height:32px;padding: 10px 28px;font-size:20px;font-weight:normal;color:#f78547;}
.other_req_table{margin: 10px 28px;}
.other_req_table td{font-size:16px;padding-bottom:15px;}
.other_req_table textarea{width:827px;height:96px;border:1px solid #ddd;padding:5px 10px;line-height:24px;font-size:14px;color:#666;resize:none;overflow:auto;}
.other_req_table textarea.description{height:120px;}
/*其它需求页结束*/

/*小心愿开始*/
.find_friend_module.green{border-color:#9fc907;}
.find_friend_module.green .btn_right_area button{background-position:0 -33px;}
.find_friend_module.green .ffm_header h2{color:#9fc907;}
.wish li{overflow:hidden;zoom:1;padding-right:28px;margin-bottom:20px;}
.wish li:last-child{margin-bottom:0;}
.person_photo{float:left;width:72px;}
.person_photo p{padding-left:25px;background:url("../../images/icon_png24.png") no-repeat -54px 0;color:#0799c9;margin-top:5px;}
.person_photo p.no_implemented{background-position:-54px -31px;color:#999;}
.person_wish{font-size:16px;width:815px;float:right;position:relative;border:1px solid #e6fd94;border-radius:4px;background:#f2fcd0;box-shadow:0 0 10px rgba(230,253,148,0.8) inset;padding:10px 20px;line-height:32px;}
.person_wish .text{font-size:20px;}
.person_wish .text strong{font-weight:normal;color:#0799c9;}
p.thank{color:#999;padding-left:50px;background:url("../../images/icon_png24.png") no-repeat -40px -67px;}
.person_wish .icon{display:block;position:absolute;width:13px;height:21px;background:url("../../images/wish_icon.png") no-repeat;left:-13px;top:20px;z-index:2;}
/*小心愿结束*/

/*听大戏开始*/
.find_friend_module.dark_blue{border-color:#06c3d6;}
.find_friend_module.dark_blue .ffm_header h2{color:#06c3d6;}
.lnb_btn_area{margin-top:15px;overflow:hidden;zoom:1;}
.lnb_btn_area button{display:block;float:right;background:url("../../images/find_friend_bg.png") no-repeat 0 -66px;margin-left:28px;width:166px;height:43px;border:0 none;color:#fff;font-size:20px;}
/*听大戏结束*/

/*我帮您开始*/
.find_friend_module.green{border-color:#1ed09e;}
.find_friend_module.green .ffm_header h2{color:#1ed09e;}
/*我帮您结束*/

/*大家来支招开始*/
.find_friend_module.yellow{border-color:#f2cc22;}
.find_friend_module.yellow .ffm_header h2{color:#f2cc22;}
.find_friend_module.yellow .btn_right_area button{background-position:0 -110px;}
.thank.everyone_way{margin-left:92px;line-height:32px;font-size:16px;background-position:-40px -65px;}
.wish li.way{border-bottom:1px dotted #ddd;}
.wish li.way:last-child{border:0 none;}
.wish li.way .person_wish .icon{top:15px;}
/*大家来支招结束*/